#gct{
  display: none;
}
#psg{
  display: none;
}
#cit{
  display: none;
}
#ngp{
  display: none;
}
#dummy{
  display: none;
}
#kct{
  display: none;
}
#hin{
  display: none;
}
#ait{
  display: none;
}
#kce{
  display: none;
}
#skcet{
  display: none;
}
#srec{
  display: none;
}
#ace{
  display: none;
}
#amrita{
  display: none;
}
#acet{
  display: none;
}
#dit{
  display: none;
}

#ctk{
  display: none;
}

#sakthi{
  display: none;
}

#tce{
  display: none;
}

#maharaja{
  display: none;
}

#skct{
  display: none;
}

#rec{
  display: none;
}
#eshwar{
  display: none;
}
#easa{
  display: none;
}
#kathir{
  display: none;
}
#ktvr{
  display: none;
}
#kalaignar{
  display: none;
}

#kgisl{
  display: none;
}

#ppg{
  display: none;
}

#jan{
  display: none;
}
#kpr{
  display: none;
}

#park{
  display: none;
}

#cms{
  display: none;
}
#rtc{
  display: none;
}
#sns{
  display: none;
}
#baa{
  display: none;
}
#bcomo{
  display: none;
}
#beo{
  display: none;
}
#bsco{
  display: none;
}




























